@CHARSET "UTF-8";
div{box-sizing: border-box;}
.info{padding:0 25px;margin:54px 20px 0;border-bottom:solid 1px #dfdfdf;padding-bottom:16px;}
.info p{font-size:15px;font-weight:bold;line-height:28px;vertical-align:top;}
.info p label{color:#ff4d4d;font-size:18px;position:relative;top:1px;}
.info span{color:#7a7a7a;font-size:10px;}
.address{padding:0 18px;margin-top:15px;color:#7a7a7a;margin-bottom:50px;}
.detail{display:block;font-size:14px;background:#ff4d4d;color:#fff;margin:34px 11px 0;text-decoration:none;height:63px;line-height:63px;padding-left:33px;}
img{width:100%;}