@CHARSET "UTF-8";
input[type="button"], input[type="submit"], input[type="reset"] {
	-webkit-appearance: none;
}
*{font-family:Microsoft YaHei;font-size:12px;}
body,h2,p,span{margin:0;}
ul{list-style:none;padding:0;}
.none{display:none;}