@CHARSET "UTF-8";
body{padding:0 18px 25px;}
.title{line-height:38px;height:38px;color:#434343;font-size:1.3em;text-align:center;border-bottom:solid 7px #f1f1f1;letter-spacing:2px;}
#orderForm table{border-spacing:0;}
table tr th,table tr td{border-bottom:solid 1px #dfdfdf;text-align:center;padding:15px 0;}	
table tr td img.card{width:100%;}
table tr td h2{margin-left:22px;font-size:1.4em;font-weight:normal;margin-top:5px;color:#434343;text-align:left;position:relative;top:-11px;left:14px;letter-spacing:1px;}
table tr td.left{text-align:left;}
table tr td.left span{font-size:1.2em;margin-left:35px;color:#434343;}

table.table02{margin-left:10px;width:100%;}
table.table02 tr th,table.table02 tr td{font-weight:normal;padding:5px 0;height:32px;vertical-align:bottom;}
table.table02 tr th{text-align:left;color:#636363;font-size:1.2em;}
table.table02 tr td input{position:relative;top:4px;border:none;background:transparent;float:right;text-align:right;margin-right:20px;}
table.table02 tr td input#number{font-size:1.4em;color:#141313;}
table.table02 tr td input#total{font-size:1.7em;color:#d12734;}
p.tips{margin-top:55px;color:#626262;font-size:1.2em;padding-left:13px;}
p.tips a{text-decoration:none;color:#e82f3b;margin-left:4px;letter-spacing:1px;}
.payWrap{margin:0 8px;margin-top:10px;}
input#pay{background:#65ad01;color:#fff;font-size:1.6em;border:none;height:40px;width:100%;}